body{
    color: white;
    background: rgba(71, 173, 204, 0.116);
    font-style: italic;
}
.heading{
    width: 80%;
    font-size: 22;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: yellow;
}
#camera,#result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;

}